.dash-grid-item {
    position: absolute;
    display: block;
    z-index: 1;
    transition: all 0.3s;
}
.dash-grid-item.drag {
    opacity: 0.7;
    filter: alpha(opacity=70);
    transition: none;
}
.dash-grid-hint {
    position: absolute;
    display: block;
    background: pink;
    z-index: 999;
    opacity: 0.3;
    filter: alpha(opacity=30);
}